<!DOCTYPE html>
<html>

<head>
  <title>VideoMixer</title>
  <meta name="viewport" content="charset=UTF-8, width=470, maximum-scale=1, user-scalable=no, target-densitydpi=device-dpi">

  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


</head>

<body>
  <div class=container>
    <video id="player" class="video-js vjs-default-skin" controls muted preload="auto">
    <source id='videoSource' src="../static/video/Alan Walker - Alone.mp4" type="video/mp4" />
    </video>

    <div class="vid-list-container">
      <div class="vid-list" id ="mainVideoList">
        {% for item in video %}
        <div class="vid-item" onClick="playVideo('../static/video/{{ item | safe }}.mp4','video/mp4')">
          <div class="thumb"><img src="../static/thumb/{{ item | safe }}.jpg"></div>
          <div class="desc">{{ item }}</div>
        </div>
        {% endfor %}


      </div>
    </div>
    <div class="arrows">
      <div class="arrow-left"><i class="fas fa-arrow-circle-left"></i></i></div>
      <div class="arrow-right"><i class="fas fa-arrow-circle-right"></i></div>
    </div>
  </div>
  <div class=BTNcontainer>
  <div class='button'><button  onclick=post('/result/')>MIX</button></div>
  <div class='button'><button  onclick=post('/turing/')>Turing Test</button></div>
</div>
  </div>



  <!--
<div>
<button class='button' onclick="playVideo('../static/video/glory day (Japanese).mp4','video/mp4')">Glory Day (Japanese) </button>
<button class='button' onclick="playVideo('../static/video/Alan Walker - Alone.mp4','video/mp4')">Alan Walker - Alone</button>
<button class='button' onclick="playVideo('../static/video/Alan Walker - Faded.mp4','video/mp4')">Alan Walker - Faded</button>
<button class='button' onclick="playVideo('../static/video/Galantis - Hunter (Official Music Video).mp4','video/mp4')">Galantis - Hunter</button>
<button class='button' onclick="playVideo('../static/video/Marshmello - Alone.mp4','video/mp4')">Marshmello - Alone</button>
</div>

-->
</body>


<script type="text/javascript">
  function playVideo(videoSource, type) {
    var videoElm = document.getElementById('player');
    var videoSourceElm = document.getElementById('videoSource');
    if (!videoElm.paused) {
      videoElm.pause();
    }

    videoSourceElm.src = videoSource;
    videoSourceElm.type = type;

    videoElm.load();
    videoElm.play();
  }

  function post(path, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    params = {
      'video': player.currentSrc
    }
    for (var key in params) {
      if (params.hasOwnProperty(key)) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);

        form.appendChild(hiddenField);
      }
    }

    document.body.appendChild(form);
    form.submit();
  }
</script>

<script type="text/javascript">
/*
//Dynamictic adding vid-item\
var videoPath = '../static/video/';
var thumbPath = '../static/thumb/';

var vid = document.createElement("div");
vid.className = 'vid-item';
vid.onclck=playVideo(videoPath.concat({{ item|safe }}),'video/mp4');
var thumb =document.createElement("div");
thumb.className = "thumb";
var img = document.createElement("img");
img.src = thumbPath.concat( {{item | safe}});
thumb.appendChild(img);
vid.appendChild(thumb);
var desc = document.createElement('div');
desc.innerHTML={{item}};
vid.appendChild(desc);
document.getElementById(mainVideoList).appendChild(vid);


*/

//Arrow Scrolling
  $(document).ready(function() {
    $(".arrow-right").bind("click", function(event) {
      event.preventDefault();
      $(".vid-list-container").stop().animate({
        scrollLeft: "+=336"
      }, 750);
    });
    $(".arrow-left").bind("click", function(event) {
      event.preventDefault();
      $(".vid-list-container").stop().animate({
        scrollLeft: "-=336"
      }, 750);
    });
  });
</script>


</html>
