<!DOCTYPE html>
<html>

<head>
  <title>VideoMixer</title>
  <meta charset="UTF-8">
</head>

<body>
<div>
{% if video %}
  {{ video }}!
{% else %}
  Please Select a Video
{% endif %}
</div>

<div>
  <video id="original" class="video-js vjs-default-skin" controls preload="auto" width="720" height="480">
 <source src="../static/video/{{ video }}" type="video/mp4" />
</video>
</div>
<div>

  <video id="mix" class="video-js vjs-default-skin" controls preload="auto" width="720" height="480">
 <source id='videoSource' src="../static/temp/{{ video }}" type="video/mp4" />
</video>
</div>
</body>

</html>
